.header {
  height: 60px;
  background-color: blue;
  color: #fff;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;

  span {
    cursor: pointer;
  }

  p {
    margin: 0;
  }

  button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
  }
}