.categories {
  display: flex;
  gap: 16px;
  align-items: center;

  &__item {
    padding: 8px 16px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    color: black;

    &.active {
      background-color: blue;
      color: white;
    }
  }
}